<?xml version="1.0" encoding="utf-8"?>
 <configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="wikiRule0" stopProcessing="true">
          <match url="^w/(.*)$" />
          <action type="Rewrite" url="/w/{UrlEncode:{R:1}}" />
        </rule>
        <rule name="wikiRule1" stopProcessing="true">
          <match url="^wiki/(.*)$" />
          <action type="Rewrite" url="/w/index.php?title={UrlEncode:{R:1}}" />
        </rule>
        <rule name="wikiRulexx" stopProcessing="true">
          <match url="^wiki(.*)$" />
          <action type="Rewrite" url="/w/index.php" />
        </rule>
        <rule name="wikiRule2" stopProcessing="true">
          <match url="^wiki/$" />
          <action type="Rewrite" url="/w/index.php" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  </configuration>
