
*.html
*.pem
!public_html/mdtexts/index.html
/public_html/get_html/test2
public_html/new_html/**/*.html
public_html/new_html.zip
/public_html/mdtexts/wikitext
public_html/adminer.php
public_html/adminer1.php
public_html/mdtexts/all_pages.json
public_html/mdtexts/cats_titles.json
public_html/mdtexts/titles.json
public_html/post.php
public_html/index.php
/public_html/new_html/revisions_new
public_html/web.config.1
public_html/mw/LocalSettings.php
public_html/new_html/jsons_data/*.json
public_html/new_html/tests/text.php
public_html/new_html/x.py
public_html/new_html/x.php
